* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h2 {
    font-size: 1.5rem;
}

article {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1em;
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 5px lightcoral;
    padding: 1em;
}

img {
    height: 200px;
    object-fit: cover;
}

div, img {
    flex-basis: 300px;
    flex-grow: 1;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}