* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
}

p {
    color: brown;
}

p::first-letter {
    color: blue;
    font-size: 32px;
}

p::first-line {
    color: pink;
}

p::selection {
    color: red;
}

li::marker {
    color: grey;
}

p::before {
    content: 'START --';
}

p::after {
    content: '-- END';
}

span::before {
    content: '<<';
}

span::after {
    content: '>>';
}